In [1]:
import pandas as pd
pd.set_option('display.max_columns', 250)
# Don't cut off long string
# http://stackoverflow.com/questions/26277757/pandas-to-html-truncates-string-contents
pd.set_option('display.max_colwidth', -1)


from IPython.display import display

# for auto-reloading external modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

# Extracting mapping information from annotation

In [2]:
ndf1 = pd.read_csv('./examples/Homo_sapiens.GRCh37.75.csv', nrows=100)

In [3]:
_cols = ndf1.columns.tolist()
for k, i in enumerate(_cols):
    if k % 3 == 0 and k > 0:
        print()
    print('{0:2d} {1:28s}'.format(k + 1, i), end='')

 1 seqname                      2 source                       3 feature
 4 start                        5 end                          6 score
 7 strand                       8 frame                        9 CCDS
10 ccds_id                     11 cds_end_NF                  12 cds_start_NF
13 exon_id                     14 exon_number                 15 gene_biotype
16 gene_id                     17 gene_name                   18 gene_source
19 mRNA_end_NF                 20 mRNA_start_NF               21 protein_id
22 seleno                      23 transcript_id               24 transcript_name
25 transcript_source

In [4]:
ndf1.head()

,seqname,source,feature,start,end,score,strand,frame,CCDS,ccds_id,cds_end_NF,cds_start_NF,exon_id,exon_number,gene_biotype,gene_id,gene_name,gene_source,mRNA_end_NF,mRNA_start_NF,protein_id,seleno,transcript_id,transcript_name,transcript_source
0,1,pseudogene,gene,11869,14412,.,+,.,NaN,NaN,NaN,NaN,NaN,NaN,pseudogene,ENSG00000223972,DDX11L1,ensembl_havana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,processed_transcript,transcript,11869,14409,.,+,.,NaN,NaN,NaN,NaN,NaN,NaN,pseudogene,ENSG00000223972,DDX11L1,ensembl_havana,NaN,NaN,NaN,NaN,ENST00000456328,DDX11L1-002,havana
2,1,processed_transcript,exon,11869,12227,.,+,.,NaN,NaN,NaN,NaN,ENSE00002234944,1.0,pseudogene,ENSG00000223972,DDX11L1,ensembl_havana,NaN,NaN,NaN,NaN,ENST00000456328,DDX11L1-002,havana
3,1,processed_transcript,exon,12613,12721,.,+,.,NaN,NaN,NaN,NaN,ENSE00003582793,2.0,pseudogene,ENSG00000223972,DDX11L1,ensembl_havana,NaN,NaN,NaN,NaN,ENST00000456328,DDX11L1-002,havana
4,1,processed_transcript,exon,13221,14409,.,+,.,NaN,NaN,NaN,NaN,ENSE00002312635,3.0,pseudogene,ENSG00000223972,DDX11L1,ensembl_havana,NaN,NaN,NaN,NaN,ENST00000456328,DDX11L1-002,havana

In [5]:
ndf2 = pd.read_csv('./examples/Homo_sapiens.GRCh38.92.csv', nrows=100)

In [6]:
_cols = ndf2.columns.tolist()
for k, i in enumerate(_cols):
    if k % 3 == 0 and k > 0:
        print()
    print('{0:2d} {1:28s}'.format(k + 1, i), end='')

 1 seqname                      2 source                       3 feature
 4 start                        5 end                          6 score
 7 strand                       8 frame                        9 CCDS
10 basic                       11 ccds_id                     12 cds_end_NF
13 cds_start_NF                14 exon_id                     15 exon_number
16 exon_version                17 gene_biotype                18 gene_id
19 gene_name                   20 gene_source                 21 gene_version
22 mRNA_end_NF                 23 mRNA_start_NF               24 protein_id
25 protein_version             26 seleno                      27 transcript_biotype
28 transcript_id               29 transcript_name             30 transcript_source
31 transcript_support_level    32 transcript_version

In [7]:
_cols = ndf2.columns.tolist()
_cols = _cols[:8] + list(sorted(_cols[8:]))
for k, i in enumerate(_cols):
    if k % 3 == 0 and k > 0:
        print()
    print('{0:2d} {1:28s}'.format(k + 1, i), end='')

 1 seqname                      2 source                       3 feature
 4 start                        5 end                          6 score
 7 strand                       8 frame                        9 CCDS
10 basic                       11 ccds_id                     12 cds_end_NF
13 cds_start_NF                14 exon_id                     15 exon_number
16 exon_version                17 gene_biotype                18 gene_id
19 gene_name                   20 gene_source                 21 gene_version
22 mRNA_end_NF                 23 mRNA_start_NF               24 protein_id
25 protein_version             26 seleno                      27 transcript_biotype
28 transcript_id               29 transcript_name             30 transcript_source
31 transcript_support_level    32 transcript_version

In [8]:
s1 = set(ndf1.columns.values)
s2 = set(ndf2.columns.values)

In [9]:
s1.difference(s2)

set()

In [10]:
for i in sorted(s2.difference(s1)):print(i)

basic
exon_version
gene_version
protein_version
transcript_biotype
transcript_support_level
transcript_version